<div class="row">
  <div class="col-xs-12">
    <img src="" alt="" class="img-responsive">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{selectedRecipe.name}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div appDropdown class="btn-group">
      <button
        type="button"
        class="btn btn-primary dropdown-toggle"
      >Manage Recipes<span class="create"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#" (click)="addIngredientsToShoppingList()">To Shop List</a></li>
        <li><a href="#">Edit Recipe</a></li>
        <li><a href="#">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{selectedRecipe.description}}
  </div>
  <div class="col-xs-12">
    <ul class="list-group">
      <li *ngFor="let ingredient of selectedRecipe.ingredients" class="list-group-item"
      >Name:{{ingredient.name}} / Amount:{{ingredient.amount}}
    </li>
    </ul>
  </div>
</div>
